@page "/multiSelectDemo"

<PageTitle>MultiSelect</PageTitle>
<SectionContent SectionName="top-header">
    MultiSelect
</SectionContent>

<div class="row">
    <div class="col-md-6">
        <label>Tags</label>
        <MultiSelect TValue="int" TItem="TagModel" Items="@Tags"
                     SelectedValues="@SelectedTags"
                     SelectedValuesChanged="@OnSelectedTagsChanged"
                     ValueSelector="@(x => x.Id)"
                     TextSelector="@(x => x.Title)"
                     Placeholder="Select tags..."
                     Height="300" />
    </div>
    <div class="col-md-6">
        <label>Selected Tags</label>
        <span class="form-control-plaintext">
            @foreach (var tag in Tags.Where(t => SelectedTags.Contains(t.Id)))
            {
                <span class="badge bg-primary text-white me-2">@tag.Title</span>
            }
        </span>
    </div>
</div>

@code {
    private List<TagModel> Tags = new List<TagModel>()
    {
        new TagModel { Id = 1, Title = "Tag 1" },
        new TagModel { Id = 2, Title = "Tag 2" },
        new TagModel { Id = 3, Title = "Tag 3" },
        new TagModel { Id = 4, Title = "Tag 4" },
        new TagModel { Id = 5, Title = "Tag 5" },
    };
    private List<int> SelectedTags { get; set; } = new List<int>();
    private void OnSelectedTagsChanged(List<int> selectedTags)
    {
        SelectedTags = selectedTags;
    }
}
